@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenidos a mi Plataforma</h1>
    <p class="lead">Soy Luis Alejandro Londoño Valle</p>

    <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="mt-4" style="width: 100%; max-width: 400px; height: 590px;">
            <img src="~/img/Alejandro.png" alt="Foto de Luis Alejandro Londoño Valle" class="img-fluid rounded"
                style="width: 100%; height: 100%; object-fit: cover; object-position: top;">
        </div>

        <div class="mt-4 ml-md-4">
            <h2 class="font-weight-bold">Sobre Mí</h2>
            <p class="text-justify">Soy un joven apasionado por el desarrollo de software, con 18 años de experiencia de
                vida y un fuerte interés en el entorno de C# y .NET. Desde muy temprana edad, he encontrado en la
                programación una forma de expresar mi creatividad y solucionar problemas. Mi dedicación y amor por el
                código
                me han llevado a aprender y perfeccionar mis habilidades, con la meta de convertirme en un desarrollador
                de
                software de clase mundial. Estoy comprometido con el crecimiento continuo y siempre en busca de nuevos
                desafíos que me permitan mejorar y aprender.</p><br>
            <h2 class="font-weight-bold text-center">Contacto</h2>
            <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
                <a href="https://github.com/AlejandroLondonoValle" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github fs-2"></i>
                </a>
                <a href="mailto:londonovalleluisalejandro@gmail.com">
                    <i class="bi bi-envelope-at-fill fs-2"></i>
                </a>
                <a href="https://www.linkedin.com/in/luís-alejandro-londoño-valle" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-linkedin fs-2"></i>
                </a>
                <a href="https://www.instagram.com/alejandro_londono206/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram fs-2"></i>
                </a>

            </div>
        </div>
    </div>

</div>
